params {
   container = 'docker://sarah145/batch_correct'
   dataset_list='./dataset_list.txt'
   batch_key='sample'
   celltype_key='cell_type1'
   data_dir='/home/sarah/Documents/Project/batch_correct/data'
}

	
profiles {
   singularity {
    singularity.enabled = true
    process.container = 'Sarah145-batch_correct-master.simg'
    process.containerOptions = '-B /data'
    process.executor='slurm'
    process.queue='highmem'
    process.clusterOptions ='-n 8 -N 1'
  }
}


